<ul>
  <li>
    <a routerLink="operators/tap">Tap</a>
  </li>

  <li>
    <a routerLink="operators/map">Map</a>
  </li>

  <li>
    <a routerLink="operators/debounce-time">Debounce time</a>
  </li>

  <li>
    <a routerLink="operators/take-until">Take until</a>
  </li>

  <li>
    <a routerLink="operators/scan">Scan</a>
  </li>

  <li>
    <a routerLink="operators/reduce">Reduce</a>
  </li>

  <li>
    <a routerLink="operators/catch-error">CatchError</a>
  </li>

  <li>
    <a routerLink="operators/retry">Retry</a>
  </li>

  <li>
    <a routerLink="operators/retry-when">Retry when</a>
  </li>

  <li>
    <a routerLink="operators/combine-latest">Combine latest</a>
  </li>

    <li>
      <a routerLink="operators/start-with">Start with</a>
    </li>

    <li>
      <a routerLink="operators/delay">Delay</a>
    </li>

  <li>
    <a routerLink="multi-pages-api">Multi page web api</a>
  </li>

  <li>
    <a routerLink="operators/distinct-until-changed">Distinct until changed</a>
  </li>

  <li>
    <a routerLink="operators/take-while">Take while</a>
  </li>

  <li>
    <a routerLink="operators/merge">Merge</a>
  </li>

  <li>
    <a routerLink="operators/concat">Concat</a>
  </li>

  <li>
    <a routerLink="operators/zip">Zip</a>
  </li>

  <li>
    <a routerLink="operators/forkjoin">Fork join</a>
  </li>
  <li>
    <a routerLink="operators/withlatestfrom">With latest from</a>
  </li>
  <li>
    <a routerLink="tools/replay-subject">Replay subject</a>
  </li>
  <li>
    <a routerLink="tools/async-subject">Async subject</a>
  </li>
  <li>
    <a routerLink="marble">Marble</a>
  </li>
</ul>

<router-outlet></router-outlet>
